@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,400;1,800;1,900&family=Poiret+One&family=Zen+Kurenaido&display=swap");
/* font-family: 'Great Vibes', cursive; */
/* font-family: 'Zen Kurenaido', sans-serif; */
/* font-family: 'Noto Serif Display', serif; */
/* font-family: 'Poiret One', cursive; */

/* global */

* {
  margin: 0;
  padding: 0;
  /* font-family: "Noto Serif Display", serif; */
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  font-family: "Great Vibes", cursive;
}

.logo a {
  font-family: "Great Vibes", cursive;
}

.logo span {
  font-family: "Great Vibes", cursive;
}

/* header */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(136, 81, 87);
  background: linear-gradient(
    180deg,
    rgba(136, 81, 87, 1) 0%,
    rgba(136, 81, 87, 1) 81%,
    rgba(136, 81, 87, 0) 100%
  );
  color: white;
  padding: 20px;
  padding-bottom: 40px;
  position: fixed;
  transition: all 0.3s ease;
}

.header a {
  color: white;
}

.header.out {
  transform: translateY(-100%);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1720px;
  width: 100%;
}

.header__container nav {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__container h1 {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__container ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__container ul li {
  margin: 15px;
  font-size: 1rem;
}

.header__container ul li i {
  font-size: 1.6rem;
}

/* main */

.main {
  width: 100%;
  min-height: 200vh;
}

/* footer */

footer {
  height: 50vh;
  width: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer__container {
    height: 50vh;
    max-width: 1720px;
    width: 100%;
    /* background: rgb(0, 0, 0); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer__container *{
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-theme footer {
  height: 50vh;
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.light-theme .footer__container {
    height: 50vh;
    max-width: 1720px;
    width: 100%;
    /* background: rgb(0, 0, 0); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.light-theme .footer__container *{
    width: 30%;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}


